body {
  font-family: 'Lato', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-responsive {
    width: 100%;
}
#h101 {
  font-weight: bold;
}
#h301 {
  font-weight: bold;
}
#h202 {
  font-weight: bold;
  text-decoration: underline;
}
body {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}

.top-buffer {
  margin-top:20px;
}
#p01 {
    word-break: keep-all;
}
#p02 {
  word-break: keep-all;
}
#p03 {
  word-break: keep-all;
}
