body {
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive {
  width: 100%;
}

#h101, #h301 {
  font-weight: bold;
}

#h202 {
  font-weight: bold;
  text-decoration: underline;
}

body {
  padding: 30px 30px 60px 30px;
}

.top-buffer {
  margin-top: 20px;
}

#p01, #p02, #p03 {
  word-break: keep-all;
}
